.navbar {
    background-color: #004682;
    color: white;
    .navbar-light {
        color: white;
    }

    .nav-item {
        color: white;
    }

    .navbar-brand {
        color: white;
    }

    .nav-link {
        color: white!important;
    }

    .form-inputfield {
        width: fit-content;
    }
}